* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1200px;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tablet {
  margin: 0 10px 10px 0;
  border: 1px solid #e2e2e2;
  max-width: 301px;
}

img {
  width: 300px;
  height: 205px;
}

.tablet__text {
  padding: 30px 25px;
  position: relative;
}

.tablet__header {
  color: #333333;
  font-size: 20px;
  font-weight: bolder;
}

.tablet__comment {
  color: #666666;
  font-size: 15px;
  margin: 10px 0 20px 0;
  line-height: 1.3em;
}

.tablet__price {
  font-size: 35px;
  font-weight: bolder;
  color: #333333;
}

.tablet__rub {
  font-size: 20px;
}

i {
  position: absolute;
  background-color: #4ed17b;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  right: 25px;
  bottom: 30px;
  border-radius: 3px;
}