@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
body{
    margin: 0;
    background-color: rgb(8, 170, 151);
    background-image: url(image/bg.png);
    background-repeat: repeat;
    background-size: 120px;
}
.header_logo{
    display: flex;
    background-color: white;
}
.logo{
    display: flex;
    width: 18%;
    margin: 3px;
    left: 0;
    border-radius: 90px;
}
h1{
    display: flex;
    width: 100%;
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    margin-top: 3px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
article{
    width: 85%;
    margin: auto;
    margin-top: 10px;
    background-color: #003554;
    border: 2px solid #FFFFFF;
}
.picture_main{
    width: 100%;
    border-bottom : 2px solid #FFFFFF;
}
h3{
    display: flex;
    color: #FFFFFF;
    width: 100%;
    justify-content: center;
    margin: 5px;
    font-size: 25px;
}
.text_main{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    margin: 5px;
}
p{
    color: #FFFFFF;
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 5px;
}
.title{
    color: #00A6FB;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #003554;
    margin-top: 15px;
}
.group{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}
.phone{
    width: 100%;
}
.push{
    display: flex;
    justify-content: space-around;
}
.fi{
    width: 50px;
}
a:visited{
    color: #ffffff;
}
.brg_o{
    display: flex;
    justify-content: center;
    margin-top: -1px;
    padding: 0;
    position: relative;
    width: 100%;
    border: 0;
    color: #ffffff;
    background-color: #00A6FB;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}
.brg_c{
    display: flex;
    justify-content: center;
    padding: 5px;
    position: relative;
    width: 100%;
    border: 0;
    color: #b3b3b3;
    background-color: #003554;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
ul{
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
    position: fixed;
    right: -100%;
}
li{
    display: flex;
    background-color: #003554;
    list-style: none;
}
.menu_item:hover{
    background-color: #00A6FB;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-size: 30px;
}
.brg_c:hover{
    background-color: #6e1313;
    color: white;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-size: 30px;
}
.menu_item{
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 5px;
    color: white;
}
.egg{
    width: 80%;
    background-color: #003554;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    border: 2px solid #00A6FB;
    border-radius: 45px;
    font-size: 20px;
    text-align: center;
}
.egg_user{
    width: 80%;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
    border: 0;
}
.brg_o:active{
    color: #00A6FB;
    background-color: #FFFFFF;
}
.menu_item:active{
    color: #00A6FB;
    background-color: #FFFFFF;
}